<!doctype html>
<html>
<head>
    <title>MONCINE</title>
    <meta http-equiv="content.type" content="text/html"; charset="UTF-8">
    <script src="https://unpkg.com/htmlincludejs"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:8080/admin">Moncine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/admin/cinemas/">Cinemas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/admin/films/">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/admin/apropos/">À propos</a>
            </li>
        </ul>
        <a class="btn btn-outline-secondary me-auto pull-right m-2" href="http://localhost:8080" role="button">Log out</a>
    </div>
</nav>
<body>
SALUT CINÉPHILE, NOUS TE SOUHAITONS LA BIENVENUE SUR MONCINÉ !<br><br>
Notre but ? Offrir aux cinéphiles une source pratique et rapide d'informations sur le cinéma, tout en facilitant l'accès aux salles, c'est la mission de Monciné !<br><br>

Notre histoire:<br>
Cette plateforme a été réalisée par 4 étudiants de l'école d'ingénieur EFREI PARIS lors d'un projet informatique.<br>
Notre idée était de réaliser une plateforme gratuite afin que les cinéphiles aient accès à tous les films et cinémas se déroulant autour d'eux en France.<br>
C'est à partir de janvier 2021 que nous avons décidé de créer cette plateforme, simple, rapide, et facile d'accès.<br>
Puis, Monciné® a été déposé l'année suivante.<br><br>

Si vous avez des questions relatives à l'achat de billets, n'hésitez pas à nous écrire à monciné@infos.fr.<br><br>

Comment nous joindre ?<br><br>
Monciné peut être joint:<br>
Par téléphone: 24h/24 en quelques secondes par téléphone au 01 53 54 54 54 (prix d’un appel local).<br>
Par Internet: www.monciné.fr sur votre smartphone et votre tablette.<br>
Par mail: monciné@infos.fr<br><br>
Notre adresse:<br>
5, Rue du Général de Gaulle<br>
75002 Paris<br>

</body>
</html>