<!doctype html>
<html>
<head>
  <title>Profil</title>
  <meta http-equiv="content.type" content="text/html" charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="http://localhost:8080/admin">Moncine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:8080/admin/cinemas/">Cinemas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:8080/admin/films/">Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:8080/admin/apropos/">À propos</a>
      </li>
    </ul>
    <a class="btn btn-outline-secondary me-auto pull-right m-2" href="http://localhost:8080/logout" role="button">Log out</a>
  </div>
</nav>
<body>
<h1 class="display-3 text-center text-info">Cinemas</h1>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Ajouter Cinema</button>
      <button class="btn btn-secondary m-3" id="filtre" name="ajout">Filtre</button>
    </div>
  </div>
</div>

<div id="table_filtre" class="container w-25">
</div>

<div class="d-flex justify-content-center">
  <div id="filtre_city" class="m-3"></div>
  <div id="filtre_department" class="m-3"></div>
</div>


<!-- Modele du pop-up -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter Cinema</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-row p-3">

            <div class="form-group col-md-6">

              <label for="name">Name</label>

              <input type="text" class="form-control" min=1 name="name" id="name" placeholder="name ...">

            </div>

            <div class="form-group col-md-6">

              <label for="street">Street</label>

              <input type="text" class="form-control" min=20 name="street" id="street" placeholder="street ...">

            </div>

            <div class="form-group col-md-6">

              <label for="number">Number</label>

              <input type="text" class="form-control" min=20 name="number" id="number" placeholder="number...">

            </div>

            <div class="form-group col-md-6">

              <label for="zip">Zip Code</label>

              <input type="text" class="form-control" min=20 name="zip" id="zip" placeholder="zip code...">

            </div>

            <div class="form-group col-md-6">

              <label for="city">City</label>

              <input type="text" class="form-control" min=1 name="city" id="city" placeholder="city...">

            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="ajouter" class="btn btn-primary" onclick="">Ajouter</button>
      </div>
    </div>
  </div>
</div>
<div>
  <table id="tab" class="table table-hover p-3 w-75 mx-auto">
    <tbody id="my-list">
    <tr class="text-center">
      <th scope="col" >Name</th>
      <th scope="col" >Address</th>
    </tr>
    </tbody>
  </table>
</div>
</body>


<script>
  $("#filtre").click(function (e) {
    var list1 = "";
    list1 += "<table id=\"tab\" class=\"table table-hover p-3 w-75 mx-auto\">\n" +
            "    <tbody id=\"my-list\">\n" +
            "    <tr class=\"text-center\">\n" +
            "      <th scope=\"col\" >city</th>\n" +
            "    </tr>\n" +
            "    </tbody>\n";
    list1 += "<tr class='text-center'>";
    list1 += "<td><input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"flexCheckDefault\">\n" +
            "  <label class=\"form-check-label\" for=\"flexCheckDefault\">\n" +
            "    city1\n" +
            "  </label></td>";
    list1+=  "</tr>";
    list1+=  "  </table>";
    $("#filtre_city").append(list1);

    var list2 = "";
    list2 += "<table id=\"tab\" class=\"table table-hover p-3 w-75 mx-auto\">\n" +
            "    <tbody id=\"my-list\">\n" +
            "    <tr class=\"text-center\">\n" +
            "      <th scope=\"col\" >departement</th>\n" +
            "    </tr>\n" +
            "    </tbody>\n";
    list2 += "<tr class='text-center'>";
    list2 += "<td><input class=\"form-check-input\" type=\"checkbox\" value=\"\" id=\"flexCheckDefault\">\n" +
            "  <label class=\"form-check-label\" for=\"flexCheckDefault\">\n" +
            "    department\n" +
            "  </label></td>";
    list2+=  "</tr>";
    list2+=  "  </table>";
    $("#filtre_department").append(list2);

  });

  setInterval(load_cinemas(), 5000);


  $("#ajouter").click(function (e) {

    e.preventDefault();

    var number = document.getElementById("number").value;
    var street = document.getElementById("street").value;
    var zip = document.getElementById("zip").value;
    var city = document.getElementById("city").value;
    var name = document.getElementById("name").value;
    $.ajax({
      type: "POST",
      url: "http://localhost:8080/admin/cinemas",
      crossDomain: true,
      data: JSON.stringify(
              {
                "cinema":
                        {
                          "name": name,
                          "address": {
                            "number": number,
                            "street": street,
                            "zip": zip,
                            "city": city
                          },
                          "films": []
                        }
              }
      ),
      contentType: "application/json; charset=utf-8",
      success: function (response) {
        console.log(response)
        window.location.href = response
        alert("Success");

      },
      error: function (link) {
        console.log(link)
        alert("Error : "+link)

      }
    });
  });

  function load_cinemas() {
    const url = 'http://localhost:8080/api/cinemas';
    fetch(url)
            .then(resp => resp.json())
            .then(data => { // Your code for handling the data you get from the API
              console.log(data)
              renderCinemas(data);
            })
            .catch(function (error) { // This is where you run code if the server returns any errors
              console.log('There has been a problem with your fetch operation: ', error.message);
            });
  }


  function renderCinemas(data) {
    var list = "";

    $.each(data, function (index) {
      var link="http://localhost:8080/admin/cinemas/id=" + data[index].id ;
      list += "<tr class='text-center'>";
      list += "<td><a href='"+link+"'>" + data[index].name + "</a></td>";
      list += "<td> city : " +data[index].address.city + "<br> adresse : " + data[index].address.street + "</td>";
      list += "</tr>";
    })
    $("#my-list").append(list);
  }

</script>

</html>