<!doctype html>
<html lang="en">
<head>
    <title>Profil</title>
    <meta http-equiv="content.type" content="text/html" charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:8080/admin">Moncine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/admin/cinemas/">Cinemas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/admin/films/">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/admin/apropos/">À propos</a>
            </li>
        </ul>
        <a class="btn btn-outline-secondary me-auto pull-right m-2" href="http://localhost:8080/logout" role="button">Log out</a>
    </div>
</nav>
<body>
<h1 class="display-3 text-center text-info">Cinema</h1>
<table id="tab" class="table table-hover p-3 w-75 mx-auto">
    <tbody id="my-list">
    <tr class="text-center">
        <th scope="col">Name</th>
        <th scope="col">Adresse</th>
        <th scope="col">Modification</th>
    </tr>
    </tbody>
</table>
<table id="tab2" class="table table-hover p-3 w-75 mx-auto">
    <tbody id="list-films">
    <tr class="text-center">
        <th scope="col">Title</th>
        <th scope="col" >Language</th>
        <th scope="col">Description</th>
        <th scope="col">Séances</th>
        <th scope="col">Modifications</th>
    </tr>
    </tbody>
</table>
<div class="modal fade" id="seanceModal" tabindex="-1" role="dialog" aria-labelledby="seanceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seanceModalLabel">Modifier Seance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="screening_id"></div>
            <div id="film_id"></div>
            <div id="cinema_id"></div>
            <div class="modal-body">
                <form>

                    <div class="form-group col-md-6">

                        <label for="jour">Jour</label>

                        <select name="jour" class="form-control" id="jour">

                            <option value="Lundi">Lundi</option>

                            <option value="Mardi">Mardi</option>

                            <option value="Mercredi">Mercredi</option>

                            <option value="Jeudi">Jeudi</option>

                            <option value="Vendredi">Vendredi</option>

                            <option value="Samedi">Samedi</option>

                            <option value="Dimanche">Dimanche</option>

                        </select>

                    </div>

                    <div class="form-group col-md-6">

                        <label for="heure">Heure</label>

                        <select name="heure" class="form-control" id="heure">

                            <option value="12h">12h</option>

                            <option value="14h">14h</option>

                            <option value="16h">16h</option>

                            <option value="18h">18h</option>

                            <option value="20h">20h</option>

                            <option value="22h">22h</option>


                        </select>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="modifierseance" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="seanceaddModal" tabindex="-1" role="dialog" aria-labelledby="seanceaddModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seanceaddModalLabel">Modifier Seance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="film_id_2"></div>
            <div id="cinema_id_2"></div>
            <div class="modal-body">
                <form>

                    <div class="form-group col-md-6">

                        <label for="jour2">Jour</label>

                        <select name="jour2" class="form-control" id="jour2">

                            <option value="Lundi">Lundi</option>

                            <option value="Mardi">Mardi</option>

                            <option value="Mercredi">Mercredi</option>

                            <option value="Jeudi">Jeudi</option>

                            <option value="Vendredi">Vendredi</option>

                            <option value="Samedi">Samedi</option>

                            <option value="Dimanche">Dimanche</option>

                        </select>

                    </div>

                    <div class="form-group col-md-6">

                        <label for="heure2">Heure</label>

                        <select name="heure2" class="form-control" id="heure2">

                            <option value="12h">12h</option>

                            <option value="14h">14h</option>

                            <option value="16h">16h</option>

                            <option value="18h">18h</option>

                            <option value="20h">20h</option>

                            <option value="22h">22h</option>


                        </select>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="addseance" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="filmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filmModalLabel">Ajouter Film</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group col-md-6">

                        <label for="titre">Titre</label>

                        <select name="titre" class="form-control" id="titre">

                        </select>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="ajouterfilm" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier Film</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-row p-3">

                        <div class="form-group col-md-6">

                            <label for="title">Title</label>

                            <input type="text" class="form-control" min=1 name="title" id="title" placeholder="title ...">

                        </div>

                        <div class="form-group col-md-6">

                            <label for="city">City</label>

                            <input type="text" class="form-control" min=20 name="city" id="city" placeholder="city ...">

                        </div>

                        <div class="form-group col-md-6">

                            <label for="number">Number</label>

                            <input type="number" class="form-control" min=20 name="number" id="number" placeholder="number ...">

                        </div>

                        <div class="form-group col-md-6">

                            <label for="street">Street</label>

                            <input type="text" class="form-control" min=20 name="street" id="street" placeholder="street ...">

                        </div>

                        <div class="form-group col-md-6">

                            <label for="zip">Zip</label>

                            <input type="number" class="form-control" min=20 name="zip" id="zip" placeholder="zip ...">

                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="modifier" class="btn btn-primary" onclick="">Modifier</button>
            </div>
        </div>
    </div>
</div>
</body>


<script>

    function renderFilms(data){
        var list_film = "";
        $("#titre").empty();
        data.forEach((element) => {
            list_film += "<option value='"+element.title+"'>"+element.title+"</option>"
        });
        $("#titre").append(list_film);
    }

    function get_all_film_title(){
        const url = 'http://localhost:8080/api/films';
        fetch(url)
            .then(resp => resp.json())
            .then(data => { // Your code for handling the data you get from the API
                console.log(data)
                renderFilms(data);
            })
            .catch(function (error) { // This is where you run code if the server returns any errors
                console.log('There has been a problem with your fetch operation: ', error.message);
            });
    }

    $("#ajouterfilm").click(function (e) {

        e.preventDefault();
        var id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1).split("=")[1];
        var title = document.getElementById("titre").value;
        $.ajax({
            type: "PUT",
            url: "http://localhost:8080/admin/cinemas/add_film",
            crossDomain: true,
            data: JSON.stringify(
                {
                    "id_cinema": id,
                    "film_title": title
                }
            ),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                window.location.href = response
                alert("Success");

            },
            error: function (link) {
                console.log(link)
                alert("Error : "+link)

            }
        });
    });

    $("#addseance").click(function (e) {

        e.preventDefault();
        var id_cinema = document.getElementById("cinema_id").value;
        var id_film = document.getElementById("film_id_2").value;
        var jour = document.getElementById("jour").value;
        var heure = document.getElementById("heure").value;
        console.log(id_film)
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/admin/screening/add",
            crossDomain: true,
            data: JSON.stringify(
                {
                    "screening":
                        {
                            "id_cinema": String(id_cinema),
                            "id_film": String(id_film),
                            "seances": [
                                {
                                    "day": jour,
                                    "hour": [heure]
                                }
                            ]
                        }
                }
            ),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                window.location.href = response
                alert("Success");

            },
            error: function (link) {
                console.log(link)
                alert("Error : "+link)

            }
        });
    });

    $("#modifierseance").click(function (e) {

        e.preventDefault();
        var id_screening = document.getElementById("screening_id").value;
        var id_cinema = document.getElementById("cinema_id").value;
        var id_film = document.getElementById("film_id").value;
        var jour = document.getElementById("jour").value;
        var heure = document.getElementById("heure").value;
        $.ajax({
            type: "PUT",
            url: "http://localhost:8080/admin/screening/modifie",
            crossDomain: true,
            data: JSON.stringify(
                {
                    "screening":
                        {
                            "id": String(id_screening),
                            "id_cinema": String(id_cinema),
                            "id_film": String(id_film),
                            "seances": [
                                {
                                    "day": jour,
                                    "hour": [heure]
                                }
                            ]
                        }
                }
            ),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                window.location.href = response
                alert("Success");

            },
            error: function (link) {
                console.log(link)
                alert("Error : "+link)

            }
        });
    });

    $("#modifier").click(function (e) {

        e.preventDefault();
        var id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1).split("=")[1];
        var title = document.getElementById("title").value;
        var city = document.getElementById("city").value;
        var number = document.getElementById("number").value;
        var street = document.getElementById("street").value;
        var zip = document.getElementById("zip").value;
        $.ajax({
            type: "PUT",
            url: "http://localhost:8080/admin/cinemas",
            crossDomain: true,
            data: JSON.stringify(
                {
                    "cinema":
                        {
                            "id": id,
                            "name": title,
                            "address": {
                                "number": number,
                                "street": street,
                                "zip": zip,
                                "city": city
                            },
                            "films": []
                        }
                }
            ),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                window.location.href = response
                alert("Success");

            },
            error: function (link) {
                console.log(link)
                alert("Error : "+link)

            }
        });
    });

    function delete_cinema(id) {


        $.ajax({
            type: "DELETE",
            url: "http://localhost:8080/admin/cinemas",
            crossDomain: true,
            data: JSON.stringify(
                {
                    "id": String(id)
                }
            ),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                window.location.href = response
                alert("Success");

            },
            error: function (link) {
                console.log(link)
                alert("Error : "+link)

            }
        });

    }

    function delete_seance(id) {


        $.ajax({
            type: "DELETE",
            url: "http://localhost:8080/admin/screening/delete",
            crossDomain: true,
            data: JSON.stringify(
                {
                    "id": String(id)
                }
            ),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                window.location.href = response
                alert("Success");

            },
            error: function (link) {
                console.log(link)
                alert("Error : "+link)

            }
        });

    }

    setInterval(load_cinema(), 5000);

    function load_cinema() {
        var id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
        const url = 'http://localhost:8080/api/cinemas/'+id;
        fetch(url)
            .then(resp => resp.json())
            .then(data => { // Your code for handling the data you get from the API
                renderCinemas(data);
            })
            .catch(function (error) { // This is where you run code if the server returns any errors
                console.log('There has been a problem with your fetch operation: ', error.message);
            });
    }


    function set_up_modal_id(id_film, id_screening){
        document.getElementById("film_id").value = id_film;
        document.getElementById("screening_id").value = id_screening;

    }

    function set_up_modal_id_2(id_film){
        document.getElementById("film_id_2").value = id_film;

    }

    function renderCinemas(data) {
        var list = "";
        list += "<tr class='text-center'>";
        list += "<td>" + data.name + "</td>";
        list += "<td> City : " +data.address.city + "<br> Adress : " + data.address.number + data.address.street + "</td>";
        list += "<td> <button type='button' class='btn btn-primary m-3' data-toggle='modal' data-target='#exampleModal'> Modifier </button>";
        list += "<button type='button' class='btn btn-primary m-3' data-toggle='modal' onclick=get_all_film_title() data-target='#filmModal'> Ajouter un Film </button>";
        list += "<button type='submit' class='btn btn-primary m-3' name='sup' onclick=delete_cinema("+JSON.stringify(data.id)+")> Supprimer </button></td>";
        list += "</tr>";
        $("#my-list").append(list);
        document.getElementById("title").value = data.name;
        document.getElementById("city").value = data.address.city;
        document.getElementById("number").value = data.address.number;
        document.getElementById("street").value = data.address.street;
        document.getElementById("zip").value = data.address.zip;
        document.getElementById("cinema_id").value = data.id;
        document.getElementById("cinema_id_2").value = data.id;

        $.each(data.film, async function (index) {
            let list_film = "";
            const link = "http://localhost:8080/admin/films/id=" + data.film[index].id;
            list_film += "<tr class='text-center'>";
            list_film += "<td><a href='" + link + "'>" + data.film[index].title + "</a></td>";
            list_film += "<td> languages : " + data.film[index].language + "<br> subtitles : " + data.film[index].subtitles + "</td>";
            list_film += "<td> runtime :" + data.film[index].runtime + "<br> director : " + data.film[index].director + "<br> actors : " + data.film[index].main_actor + "</td>";
            list_film += "<td>"
            list_film += "<table id='tab3'>"
            list_film += "<tbody id='list-seance'>"
            list_film += "<tr class='text-center'>"
            list_film += "<th scope='col'>Jour</th>"
            list_film += "<th scope='col'>Horaires</th>"
            const url = 'http://localhost:8080/api/screening?cinema='+data.id+'&film='+data.film[index].id;
            let screening = null;
            try {
                let response = await fetch(url);
                screening = await response.json();
                screening.seances.forEach((element) => {
                    list_film += "<tr class='text-center'>";
                    list_film += "<td>" + element.day + "</td>";
                    element.hour.forEach((hour) => {
                        list_film += "<td>" + hour + "<br>";
                    });
                    list_film += "</td>"
                    list_film += "</tr>"
                });
            }catch (e) { // non-standard
                console.log(e)
            }
            list_film += "</tbody>"
            list_film += "</table>"
            list_film += "</td>"
            try {
                list_film += "<td> <button type='button' class='btn btn-primary' data-toggle='modal' onclick='set_up_modal_id("+data.film[index].id+","+screening.id+")' data-target='#seanceModal'> Modifier </button>";
                list_film += "<button type='submit' class='btn btn-primary m-3' name='sup' onclick=delete_seance("+screening.id+")> Supprimer les séances</button></td>";
            }catch (e) { // non-standard
                list_film += "<td> <button type='button' class='btn btn-primary' data-toggle='modal' onclick='set_up_modal_id_2("+data.film[index].id+")' data-target='#seanceaddModal'> Ajouter </button></td>";
            }
            list_film += "</tr>"
            $("#list-films").append(list_film);
        })
    }

</script>
</html>