<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profil</title>
    <meta http-equiv="content.type" content="text/html" charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:8080/admin">Moncine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/admin/cinemas/">Cinemas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/admin/films/">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/admin/apropos/">À propos</a>
            </li>
        </ul>
        <a class="btn btn-outline-secondary me-auto pull-right m-2" href="http://localhost:8080/logout" role="button">Log out</a>
    </div>
</nav>
<body>
<h1 class="display-3 text-center text-info">Film</h1>
<table id="tab" class="table table-hover p-3 w-75 mx-auto">
    <tbody id="my-list">
    <tr class="text-center">
        <th scope="col">Title</th>
        <th scope="col">Language</th>
        <th scope="col">Description</th>
        <th scope="col">Modification</th>
    </tr>
    </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier Film</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-row p-3">

                        <div class="form-group col-md-6">

                            <label for="title">Title</label>

                            <input type="text" class="form-control" min=1 name="title" id="title" placeholder="title ...">

                        </div>

                        <div class="form-group col-md-6">

                            <label for="runtime">Runtime (min)</label>

                            <input type="text" class="form-control" min=20 name="runtime" id="runtime" placeholder="runtime (min) ...">

                        </div>

                        <div class="form-group col-md-6" id="tblcheck">

                            <label>Languages</label><br>


                            <input type="checkbox" id="en" name="languages" value="EN">
                            <label>EN</label>

                            <input type="checkbox" id="fr" name="languages" value="FR">
                            <label>FR</label>

                            <input type="checkbox" id="it" name="languages" value="IT">
                            <label>IT</label>

                            <input type="checkbox" id="es" name="languages" value="ES">
                            <label>ES</label>


                        </div>

                        <div class="form-group col-md-6" id="tblcheck2">

                            <label>Subtitles</label><br>

                            <input type="checkbox" id="ensub" name="languages" value="EN">
                            <label>EN</label>

                            <input type="checkbox" id="frsub" name="languages" value="FR">
                            <label>FR</label>

                            <input type="checkbox" id="itsub" name="languages" value="IT">
                            <label>IT</label>

                            <input type="checkbox" id="essub" name="languages" value="ES">
                            <label>ES</label>

                        </div>

                        <div class="form-group col-md-6">

                            <label for="director">Director</label>

                            <input type="text" class="form-control" min=1 name="director" id="director" placeholder="director ...">

                        </div>

                        <div class="form-group col-md-6">

                            <label for="min_age">Min Age</label>

                            <input type="number" class="form-control" min=1 name="min_age" id="min_age" placeholder="min age ...">

                        </div>

                        <div class="form-group col-md-10">

                            <label for="main_actor">Main actors</label>

                            <input type="text" class="form-control" min=1 name="main_actor" id="main_actor" placeholder="main actors ...">

                        </div>

                        <div class="form-group col-md-2">
                            <label for="main_actor">Add</label>
                            <button type="button" id="ajoutactors" class="btn btn-primary">Ajouter</button>
                        </div>

                        <div class="form-group col-md-12" id="tblactors">
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="modifier" class="btn btn-primary" onclick="">Modifier</button>
            </div>
        </div>
    </div>
</div>
</body>


<script>
    var mainactors = new Array();
    $("#ajoutactors").click(function (e) {
        if ( document.getElementById("main_actor").value != ""){
            mainactors.push(document.getElementById("main_actor").value);
            var actor=String(document.getElementById("main_actor").value);
            $("#tblactors").append('<button type="button" class="btn btn-secondary" name="supmain_actor" id="'+actor.replace(" ", '_')+'"  onClick="supmainactor(\'' + actor + '\')">'+actor+' X</button>');
            document.getElementById("main_actor").value = "";
        }
    });
    function supmainactor(actor){
        const index=mainactors.indexOf(actor);
        if (index > -1) {
            mainactors.splice(index, 1);
            $("#"+actor.replace(" ", '_')).remove();
        }

    }
    $("#modifier").click(function (e) {

        e.preventDefault();
        var id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1).split("=")[1];
        var title = document.getElementById("title").value;
        var runtime = document.getElementById("runtime").value;
        var director = document.getElementById("director").value;
        var min_age = document.getElementById("min_age").value;

        var subtitles = new Array();
        var chks2 = tblcheck2.getElementsByTagName("INPUT");

        for (var i = 0; i < chks2.length; i++) {
            if (chks2[i].checked) {
                subtitles.push(chks2[i].value);
            }
        }


        var languages = new Array();
        var chks = tblcheck.getElementsByTagName("INPUT");

        for (var i = 0; i < chks.length; i++) {
            if (chks[i].checked) {
                languages.push(chks[i].value);
            }
        }

        $.ajax({
            type: "PUT",
            url: "http://localhost:8080/admin/films",
            crossDomain: true,
            data: JSON.stringify(
                {
                    "film":
                        {
                            "id": id,
                            "title": title,
                            "runtime": runtime,
                            "language":
                            languages
                            ,
                            "subtitles":
                            subtitles
                            ,
                            "director": director,
                            "main_actor":
                            mainactors
                            ,
                            "min_age": min_age,
                            "start": "1970-01-01T00:00:02.016Z",
                            "end": "1970-01-01T00:00:02.015Z"
                        }
                }
            ),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                console.log(response)
                window.location.href = response
                alert("Success");

            },
            error: function (link) {
                console.log(link)
                alert("Error : "+link)

            }
        });
    });

    function delete_film(id) {

        console.log(id)

        $.ajax({
            type: "DELETE",
            url: "http://localhost:8080/admin/films",
            crossDomain: true,
            data: JSON.stringify(
                {
                    "id": String(id)
                }
            ),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                console.log(response)
                window.location.href = response
                alert("Success");

            },
            error: function (link) {
                console.log(link)
                alert("Error : "+link)

            }
        });

    }

    setInterval(load_films(), 5000);

    function load_films() {
        var id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
        const url = 'http://localhost:8080/api/films/'+id;
        fetch(url)
            .then(resp => resp.json())
            .then(data => { // Your code for handling the data you get from the API
                console.log(data)
                renderFilm(data);
            })
            .catch(function (error) { // This is where you run code if the server returns any errors
                console.log('There has been a problem with your fetch operation: ', error.message);
            });
    }


    function renderFilm(data) {
        var list = "";
        list += "<tr class=\"text-center\">";
        list += "<td>" + data.title + "</td>";
        list += "<td> languages : " +data.language + "<br> subtitles : " + data.subtitles + "<br> runtime : " + data.runtime + "</td>";
        list += "<td> director : " + data.director + "<br> actors : " + data.main_actor + "<br> Minimum Age: " + data.min_age + "</td>";
        list += "<td> <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#exampleModal'> Modifier Film </button>";
        list += "<button type='submit' class='btn btn-primary m-3' name='sup' onclick=delete_film("+JSON.stringify(data.id)+")>Supprimer</button></td>";
        list += "</tr>";
        $("#my-list").append(list);
        document.getElementById("title").value = data.title;
        document.getElementById("runtime").value = data.runtime;
        document.getElementById("director").value = data.director;
        document.getElementById("min_age").value = data.min_age;


        var text3 = data.main_actor+ '';
        var myArray3 = text3.split(",");
        myArray3.forEach(element => mainactors.push(element));
        myArray3.forEach(element => $("#tblactors").append('<button type="button" class="btn btn-secondary" name="supmain_actor" id="'+element.replace(" ", '_')+'"  onClick="supmainactor(\'' + element + '\')">'+element+' X</button>'));

        var text = data.language+ '';
        var myArray = text.split(",");
        myArray.forEach(element => document.getElementById(element.toLowerCase()).checked = true);

        var text2 = data.subtitles+ '';
        var myArray2 = text2.split(",");
        myArray2.forEach(element => document.getElementById(element.toLowerCase()+"sub").checked = true);

    }

</script>
</html>