<!doctype html>
<html>
<head>
  <title>Profil</title>
  <meta http-equiv="content.type" content="text/html"; charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/htmlincludejs"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="http://localhost:8080/admin/">Moncine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:8080/admin/films/">Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:8080/admin/apropos/">À propos</a>
      </li>
    </ul>
  </div>
</nav>
<body>
  <h1 class="display-3 text-center text-info">Films</h1>
  <div class="input-group p-3 w-25 mx-auto">
    <button id="ajout-view" class="btn btn-primary" name="ajout">Ajouter</button>
  </div>
  <div>
    <table class="table table-hover p-3 w-75 mx-auto">
      <tbody id="ajout-list">
      </tbody>
    </table>
  </div>
    <table id="tab" class="table table-hover p-3 w-75 mx-auto">
      <tbody id="my-list">
      <tr class="text-center">
        <th scope="col" >Title</th>
        <th scope="col" >Language</th>
        <th scope="col" >Description</th>
      </tr>
      </tbody>
    </table>
  </div>
</body>


<script>
  document.getElementById('ajout-view').onclick = function() {
    //var indicateur = 1;
    //var input = document.getElementById("barre").value;
    //const url = 'http://localhost:8080/api/films/' + input;
    console.log("test");
    var list = "";
      list += "<tr class=\"text-center\">";
      list += "<td><input id='title' type='text' class='form-control' name='title' placeholder=\"Title...\"></td>";
      list += "<td><input id='language' type='text' class='form-control' name='language' placeholder=\"Languages...\"><br><input id='subtitle' type='text' class='form-control' name='title' placeholder=\"Subtitles...\"></td>";
      list += "<td><input id='duration' type='number' class='form-control' name='duration' placeholder=\"Duration...\"><br><input id='director' type='text' class='form-control' name='director' placeholder=\"Director...\"><br><input id='actors' type='text' class='form-control' name='actors' placeholder=\"Actors...\"><br></td>";
      list += "<td><button onclick=\"ajoutfilm()\" class=\"btn btn-primary\" name=\"ajout\">Ajouter</button></td></tr>";
      console.log(list);
    $("#ajout-list").append(list);
    $("#ajout-view").css("display", "none");
  }

  function ajoutfilm() {
    console.log("test");
    var title = document.getElementById("title").value;

    var language = document.getElementById("languages").value;

    var subtitle = document.getElementById("subtitles").value;

    var duration = document.getElementById("duration").value;

    var director = document.getElementById("director").value;

    var actors = document.getElementById("actors").value;

    $.ajax({
      type: "POST",
      url: "http://localhost:8080/admin/films",
      crossDomain: true,
      data: JSON.stringify({
        "title": title,

        "language": language,

        "subtitle": subtitle,

        "duration": duration,

        "director": director,

        "actors": actors
      }),

      contentType: "application/json; charset=utf-8",

      dataType: "json",

      success: function (data) {

        alert("Film Ajouté");
        window.location.href = 'http://localhost:8080/admin/films';
      }
    });
  }


  setInterval(load_films(), 5000);

  function load_films() {
    const url = 'http://localhost:8080/api/films';
    fetch(url)
            .then(resp => resp.json())
            .then(data => { // Your code for handling the data you get from the API
              console.log(data)
              renderFilms(data);
            })
            .catch(function (error) { // This is where you run code if the server returns any errors
              console.log('There has been a problem with your fetch operation: ', error.message);
            });
  }


  function renderFilms(data) {
    var list = "";

    $.each(data, function (index) {
      var link="http://localhost:8080/admin/films/id=" + data[index].id ;
      list += "<tr class=\"text-center\">";
      list += "<td><a href='"+link+"'>" + data[index].title + "</a></td>";
      list += "<td> languages : " +data[index].language + "<br> subtitles : " + data[index].subtitles + "</td>";
      list += "<td> duration :" + data[index].duration + "<br> director : " + data[index].director + "<br> actors : " + data[index].main_actor + "</td>";
      list += "</tr>";
    })
    $("#my-list").append(list);
  }

</script>

</html>