<!doctype html>
<html>
<head>
    <title>Profil</title>
    <meta http-equiv="content.type" content="text/html" charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:8080/">Moncine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/cinemas/">Cinemas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/films/">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/apropos/">À propos</a>
            </li>
        </ul>
        <a class="btn btn-outline-secondary me-auto pull-right m-2" href="http://localhost:8080/logout" role="button">Log out</a>
    </div>
</nav>
<body>
<h1 class="display-3 text-center text-info">Cinemas</h1>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <button type="button" class="btn btn-secondary m-3" data-toggle="modal" data-target="#filtreModal" onclick="load_city()">Filtre</button>
        </div>
    </div>
</div>

<div class="modal fade" id="filtreModal" tabindex="-1" role="dialog" aria-labelledby="filtreModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtreModalLabel">Filtre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-row p-3">

                        <div class="form-group col-md-6">

                            <label for="city_filter">City</label>
                            <select class="form-control" id="city_filter">
                            </select>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="filtrer" class="btn btn-primary" onclick="filter_cinemas()">Appliquer</button>
            </div>
        </div>
    </div>
</div>

<div>
    <table id="tab" class="table table-hover p-3 w-75 mx-auto">
        <tbody id="my-list">
        <tr class="text-center">
            <th scope="col" >Name</th>
            <th scope="col" >Address</th>
        </tr>
        </tbody>
    </table>
</div>
</body>


<script>

    setInterval(load_cinemas(), 5000);


    function load_city(){
        const url = 'http://localhost:8080/api/city';
        fetch(url)
            .then(resp => resp.json())
            .then(data => { // Your code for handling the data you get from the API
                console.log(data);
                //$("#filtreModal .close").click();
                $("#my-list").empty();
                renderCity(data);

            })
            .catch(function (error) { // This is where you run code if the server returns any errors
                console.log('There has been a problem with your fetch operation: ', error.message);
            });
    }

    function renderCity(data){
        $("#city_filter").empty();
        var list = "";
        $.each(data, function (index) {
            list += "<option value="+data[index]+">"+data[index]+"</option>"
        })
        $("#city_filter").append(list);
    }

    $("#close").click(function (e) {
        e.preventDefault();
        window.location.reload();s
    });


    function load_cinemas() {
        const url = 'http://localhost:8080/api/cinemas';
        fetch(url)
            .then(resp => resp.json())
            .then(data => { // Your code for handling the data you get from the API
                console.log(data)
                renderCinemas(data);
            })
            .catch(function (error) { // This is where you run code if the server returns any errors
                console.log('There has been a problem with your fetch operation: ', error.message);
            });
    }

    function filter_cinemas() {
        var url = 'http://localhost:8080/api/cinemas?';
        var city = document.getElementById("city_filter").value;
        url += 'city='+city
        fetch(url)
            .then(resp => resp.json())
            .then(data => { // Your code for handling the data you get from the API
                console.log(data)
                renderCinemas(data);
                $("#filtreModal").modal('hide');
            })
            .catch(function (error) { // This is where you run code if the server returns any errors
                console.log('There has been a problem with your fetch operation: ', error.message);
            });
    }


    function renderCinemas(data) {
        var list = "";

        $.each(data, function (index) {
            var link="http://localhost:8080/cinemas/id=" + data[index].id ;
            list += "<tr class='text-center'>";
            list += "<td><a href='"+link+"'>" + data[index].name + "</a></td>";
            list += "<td> city : " +data[index].address.city + "<br> adresse : " + data[index].address.street + "</td>";
            list += "</tr>";
        })
        $("#my-list").append(list);
    }

</script>

</html>