<!doctype html>
<html lang="en">
<head>
    <title>Profil</title>
    <meta http-equiv="content.type" content="text/html" charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:8080/">Moncine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/cinemas/">Cinemas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/films/">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/apropos/">À propos</a>
            </li>
        </ul>
        <a class="btn btn-outline-secondary me-auto pull-right m-2" href="http://localhost:8080/admin" role="button">Sign in</a>
    </div>
</nav>
<body>
<h1 class="display-3 text-center text-info">Cinema</h1>
<table id="tab" class="table table-hover p-3 w-75 mx-auto">
    <tbody id="my-list">
    <tr class="text-center">
        <th scope="col">Name</th>
        <th scope="col">Adresse</th>
    </tr>
    </tbody>
</table>
<table id="tab2" class="table table-hover p-3 w-75 mx-auto">
    <tbody id="list-films">
    <tr class="text-center">
        <th scope="col">Title</th>
        <th scope="col" >Language</th>
        <th scope="col">Description</th>
        <th scope="col">Séances</th>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier Film</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-row p-3">

                        <div class="form-group col-md-6">

                            <label for="title">Title</label>

                            <input type="text" class="form-control" min=1 name="title" id="title" placeholder="title ...">

                        </div>

                        <div class="form-group col-md-6">

                            <label for="city">City</label>

                            <input type="text" class="form-control" min=20 name="city" id="city" placeholder="city ...">

                        </div>

                        <div class="form-group col-md-6">

                            <label for="number">Number</label>

                            <input type="number" class="form-control" min=20 name="number" id="number" placeholder="number ...">

                        </div>

                        <div class="form-group col-md-6">

                            <label for="street">Street</label>

                            <input type="text" class="form-control" min=20 name="street" id="street" placeholder="street ...">

                        </div>

                        <div class="form-group col-md-6">

                            <label for="zip">Zip</label>

                            <input type="number" class="form-control" min=20 name="zip" id="zip" placeholder="zip ...">

                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="modifier" class="btn btn-primary" onclick="">Modifier</button>
            </div>
        </div>
    </div>
</div>
</body>


<script>

    setInterval(load_cinema(), 5000);

    function load_cinema() {
        var id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
        const url = 'http://localhost:8080/api/cinemas/'+id;
        fetch(url)
            .then(resp => resp.json())
            .then(data => { // Your code for handling the data you get from the API
                renderCinemas(data);
            })
            .catch(function (error) { // This is where you run code if the server returns any errors
                console.log('There has been a problem with your fetch operation: ', error.message);
            });
    }


    async function load_seances(id_cinema, id_film) {
        const url = 'http://localhost:8080/api/screening?cinema='+id_cinema+'&film='+id_film;
        return await fetch(url)
            .then(resp => resp.json())
            .then(data => { // Your code for handling the data you get from the API
                return data.seances;
            })
            .catch(function (error) { // This is where you run code if the server returns any errors
                console.log(error)
                return null;
            });
    }

    function renderSeances(seances){
        var list_seance = "";
        seances.forEach((element) => {
            list_seance += "<td> jour : " + element.day + "<br> hour : ";
            element.hour.forEach((hour) => {
                list_seance += hour+" /";
            });
            list_seance += "</td>";
        });
        list_seance += "</tr>";
        $("#list-films").append(list_seance);
    }

    $("#close").click(function (e) {
        e.preventDefault();
        window.location.reload();
    });

    function renderCinemas(data) {
        var list = "";
        list += "<tr class='text-center'>";
        list += "<td>" + data.name + "</td>";
        list += "<td> City : " +data.address.city + "<br> Adress : <a href='https://www.google.fr/maps/place/"+ data.address.number + "+" + data.address.street + "+" + data.address.zip + "+"  + data.address.city +"'>" +  data.address.number + data.address.street + "</a></td>";
        list += "</tr>";
        $("#my-list").append(list);
        document.getElementById("title").value = data.name;
        document.getElementById("city").value = data.address.city;
        document.getElementById("number").value = data.address.number;
        document.getElementById("street").value = data.address.street;
        document.getElementById("zip").value = data.address.zip;

        $.each(data.film, async function (index) {
            let list_film = "";
            const link = "http://localhost:8080/films/id=" + data.film[index].id;
            list_film += "<tr class='text-center'>";
            list_film += "<td><a href='" + link + "'>" + data.film[index].title + "</a></td>";
            list_film += "<td> languages : " + data.film[index].language + "<br> subtitles : " + data.film[index].subtitles + "</td>";
            list_film += "<td> runtime :" + data.film[index].duration + "<br> director : " + data.film[index].director + "<br> actors : " + data.film[index].main_actor + "</td>";
            list_film += "<td>"
            list_film += "<table id='tab3'>"
            list_film += "<tbody id='list-seance'>"
            list_film += "<tr class='text-center'>"
            list_film += "<th scope='col'>Jour</th>"
            list_film += "<th scope='col'>Horaires</th>"
            const url = 'http://localhost:8080/api/screening?cinema='+data.id+'&film='+data.film[index].id;
            let response = await fetch(url);
            let screening = await response.json();
            try {
                screening.seances.forEach((element) => {
                    list_film += "<tr class='text-center'>";
                    list_film += "<td>" + element.day + "</td>";
                    element.hour.forEach((hour) => {
                        list_film += "<td>" + hour + "<br>";
                    });
                    list_film += "</td>"
                    list_film += "</tr>"
                });
            }catch (e) { // non-standard
                console.log(e)
            }
            list_film += "</tbody>"
            list_film += "</table>"
            list_film += "</td>"
            list_film += "</tr>"
            $("#list-films").append(list_film);
        })
    }

</script>
</html>