<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profil</title>
    <meta http-equiv="content.type" content="text/html"; charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmlincludejs"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:8080/">Moncine</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/cinemas/">Cinemas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/films/">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/apropos/">À propos</a>
            </li>
        </ul>
        <a class="btn btn-outline-secondary me-auto pull-right m-2" href="http://localhost:8080/admin" role="button">Sign in</a>
    </div>
</nav>
<body>
<h1 class="display-3 text-center text-info">Film</h1>
        <table id="tab" class="table table-hover p-3 w-75 mx-auto">
            <tbody id="my-list">
            <tr class="text-center">
                <th scope="col">Title</th>
                <th scope="col">Language</th>
                <th scope="col">Description</th>
            </tr>
            </tbody>
        </table>
</body>

<script>



    setInterval(load_films(), 5000);

    function load_films() {
        var id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
        const url = 'http://localhost:8080/api/films/'+id;
        fetch(url)
            .then(resp => resp.json())
            .then(data => { // Your code for handling the data you get from the API
                console.log(data)
                renderFilm(data);
            })
            .catch(function (error) { // This is where you run code if the server returns any errors
                console.log('There has been a problem with your fetch operation: ', error.message);
            });
    }

    $("#close").click(function (e) {
        e.preventDefault();
        window.location.reload();
    });


    function renderFilm(data) {
        var list = "";
        list += "<tr class=\"text-center\">";
        list += "<td>" + data.title + "</td>";
        list += "<td> languages : " +data.language + "<br> subtitles : " + data.subtitles + "</td>";
        list += "<td> duration :" + data.duration + "<br> director : " + data.director + "<br> actors : " + data.main_actor + "</td>";
        list += "</tr>";
        $("#my-list").append(list);
    }

</script>
</html>